{% extends batch_entity_import_template('layout') %}

{% block batch_entity_import_content %}
    <div class="table-responsive">
        {{ form_start(form) }}
        <table class="table">
            <tr>
                {% if importConfiguration.allowOverrideEntity %}
                    <th>{{ 'matrix.header.label.override'|trans({}, 'BatchEntityImportBundle') }}</th>
                {% endif %}
                {% for name, exists in header_info %}
                    <th>
                        {% if not exists %}
                            <div>{{ 'matrix.header.label.unknown'|trans({}, 'BatchEntityImportBundle') }}</div>
                        {% endif %}

                        {{ name }}
                    </th>
                {% endfor %}
            </tr>

            {% for record in form.records %}
                <tr>
                    {% for elem in record.children %}
                        <td>
                            {{ form_widget(elem) }}
                            {{ form_help(elem) }}
                            {{ form_errors(elem) }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <button type="submit" id="btn-submit" class="btn btn-default">{{ 'form.button.import'|trans({}, 'BatchEntityImportBundle') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
